[Desktop Entry]
Name=SantaGTK
Comment=Track Santa on his journey
GenericName=Game
Exec=python3 ~/.santa/main.py
Icon=~/.santa/icon.png
Type=Application
StartupNotify=false
Categories=Accessories
