[Desktop Entry]
Name=SantaGTK
Comment=Track Santa on his journey
GenericName=Game
Exec=python3 /usr/share/santagtk/main.py
Icon=/usr/share/santagtk/icon.png
Type=Application
StartupNotify=false
Categories=Accessories