[Desktop Entry]
Name=SantaGTK
Comment=Track Santa on his journey
GenericName=Game
Exec=python3 ~/.local/bin/santagtk/santagtk.py
Icon=~/.local/bin/santagtk/icon.png
Type=Application
StartupNotify=false
Categories=Accessories
